.popup__form {
  max-width: 358px;
  max-height: 261px;
  margin-top: 34px;
  margin-left: 36px;
}

@media screen and (max-width: 1279px) {
  .popup__form {
    min-width: 238px;
    max-height: 272px;
    margin: 25px 22px;
  }
}
