.popup__field {
  border: none;
  margin-top: 43px;
  margin-left: 36px;
  box-sizing: border-box;
  min-width: 358px;
  min-height: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #545454;
}

.popup__field:last-of-type {
  margin-top: 30px;
}

.popup__field:focus {
  outline-color: #42aaff;
}

@media screen and (max-width: 1279px) {
  .popup__field {
    min-width: 238px;
    margin-top: 70px;
    margin-left: 19px;
  }
}
